.Title{
    font-size: 40px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    margin-top: 69px;
    color: #181818;
}

.movie-list-section{
    display: flex;
    gap: 80px;
    height: max-content;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.Movie-box{
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    max-width: 400px;
    color: #181818;
    gap: 18px;
    box-shadow: 0px 4px 40px 0px rgba(145, 124, 124, 0.25);
    padding: 14px 18px 34px 21px;
}

.image-movie{
    border-radius: 10px;
}

.movie-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #181818;
}

span{
    border-radius: 10px;
    background: #EAAC99;
}

body{
    margin: 0px;
    background-color: #FDFBFB;
}