*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FDFBFB;
    color: black;
}
.movie-list-section{
    height: max-content;
    width: 100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 25px 0px;
}
h1{
    margin-top:50px;
font-family: Kanit;

}
.movie-box{
    display: flex;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(145, 124, 124, 0.25);
    padding: 20px;
    gap: 20px;
}
img{
    border-radius: 10px;
}
p{
    color: #181818;
font-family: Kanit;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 90% */
}
.movie-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}